*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Raleway", "Oswald";
    background-color: #19345e;
}

.container{
    background-color: azure;
    margin:2rem auto;
    height:90vh;
    width:80%;
    border-radius: .5rem;
}

/* 
* navigation styles
* Responsive for small screens 1st 
*/
/* fixed header  */
header{
    text-align: center;
    position: fixed;
    z-index: 1000; /*make sure the fixed is always on top of other elements*/
    width: 80%; /*would be 1005 if it not on the container which is on top of another element*/
}

h1.logo{
    color: #19345e;
    /* color: #4e72a9; */
    padding: .3rem 2rem;
}

nav{
    /* height: 2rem; */
    width: 100%;
    position:absolute;
    text-align: left;
    top: 100%; /* lines up ul 100% down*/
    /* for small screens
    * if the nav was to have a dropdown and background-color  
     */
    /* background: ;  width:100%; */

    /* to toggle navigation hamburger  - with CSS */
    display:none;
}

nav ul {
    /* margin:0; padding:0; */
}

nav li{ /* add spacing between each li*/
    margin-bottom: 1rem;
    margin-left: 1rem;
}

nav a{
    /* font-size, color, text-decoration, text-transform */
}

nav a:hover{
    color: #19345e;
}

/* to toggle navigation hamburger  - with CSS */
.nav-hamburger:checked ~ nav{ /* Looks for a nav that is a sibling of element with .nav-hamburger class*/
    /* make the navigation visible once the checkbox is checked */
    display:block;
    text-align: center; 
}

/* to place the toggle on the left */
.nav-toggle-label{
    position:absolute;
    top: 0;
    left: 0;
    /* put a border to move it  */
    /* border: 1px solid red; */
    margin-left: 1rem;
    /* place the toggle center on the left */
    height: 100%;
    display: flex;
    align-items: center; /*after this, I can remove the border no*/
}

/* to make the 3 hamburgers
* use span, psuedo ::before and ::after
*/
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display:block;
    background: #19345e;
    height: .2rem;
    width: 2em; /*one hamburger is formed*/
    border-radius: .5rem;
}


/* content */
main{
    display: grid;
    place-items: center;
    /* height:100vh */
    text-align: center;
    padding-top: 15rem;
} 









